
<% if @todo.errors.any? %>
    <% @todo.errors.full_messages.each do |msg| %>
    <ul>
   <li class="#"><strong><%= msg %></strong></li>
    <% end %>
    </ul>
<% end %>

<%=form_for(@todo) do |f| %>

    <strong><%= f.label :"Task: " %></strong>
    <br>
    <%= f.text_field :task, :class => "textfield-additem", autocomplete: "off" %>
    <%= f.submit "Add to List", :class => "btn-additem" %>
<% end %>

