
<% if @todo.errors.any? %>
    <% @todo.errors.full_messages.each do |msg| %>
    <ul>
   <li class=""><strong><%= msg %></strong></li>
    <% end %>
    </ul>
<% end %>

<%=form_for(@todo) do |f| %>
    <%= f.label :"New To-Do: "%>
    <%= f.text_field :task, :class => "textfield-additem" %>
    <%= f.submit "Add to List", :class => "btn-additem" %>
<% end %>

