
<h2 class="h-flash">Uncompleted tasks: <%= current_user.todos.count %></h2>
<ul> 
    <li class="li-backto"><%= link_to ">> Create new To-Do <<", new_todo_path %></li>
</ul> 
<ul id="todo-list">
      <% @todos.each do |todo| %>
    <li class="li-tasks">
    <button class="btn" type="submit">
        <%= link_to 'Complete', todo_path(todo), method: :delete  %> 
    </button>
     <%= todo.task %>
    </li>
    <hr>
      <% end %>
</ul>

<u><%= link_to 'Home', root_path %></u>


