<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="navbar">
  To-Do List
  </div>
      <div class="content">
      <div class="flash">
          <h1 class="h1-flash">
            <%= flash.notice %>
          </h1>
        </div> 
          <h2>Uncompleted tasks: <%= Todo.count %></h2>
        
      <ul class="create-new"> 
          <li>
            <%= link_to ">> Create new To-Do <<", new_todo_path %>
          </li>
      </ul> 
    <%= yield %>
      </div>  
  </body>
</html>
