<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="navbar">
  <i class="far fa-list-alt"></i>
  To-Do Web App
  </header>
  <div class="display-current-user">
      <% if user_signed_in? %>
         <strong>User: <%= current_user.email %></strong>
      <% end %>
      
    </div>
      <div class="flash-wrapper">
            <%= render 'layouts/alerts' %>
      </div> 
  <div class="content">
        <%= yield %>
  </div>  
</body>
</html>
