<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="navbar">
  To-Do List <br />
    
  </header>
  <div class="display-current-user">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
      <% end %>
    </div>
      <div class="flash-wrapper">
            <%= render 'layouts/alerts' %>
      </div> 
  <div class="content">
        <%= yield %>
  </div>  
</body>
</html>
